
h1, .img-container div, .project-screenshot, .project-name {
    font-family: "Cactus Classical Serif", serif;
}

body {
  margin: 0px;
  font-family: "Noto Sans", sans-serif;
}

h1 {
    margin: 0px;
    font-size: 36px;
}

.about-me-container,
header img,
footer img,
.project-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-container {
  position: relative;
  z-index: 1;
}

.img-container img {
  width: 400px;
  object-fit: contain;
}

.img-text {
  position: absolute;
  bottom: 0px;
  left: 33%;
  color: white;
  font-size: 60px;
}

footer img {
  width: 300px;
  object-fit: contain;
}

header {
  display: flex;
  padding: 30px 60px 30px 60px;
  position: relative;
}

.header-background {
  position: absolute;
  background-color: #06d6a0;
  width: 120vw;
  height: 500px;
  top: 0;
  left: 0;
  transform: rotate(8deg) translate(-50px, -80px);
}

.about-me-container {
  margin: 40px 0px 40px 0px;
  padding: 40px 25px 20px 20px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-color: white;
}

.about-me-container h1 {
    margin-bottom: 20px;
}

.description {
  flex-grow: 1;
  color: #545454;
}

.header-icon-container {
  display: flex;
  justify-content: end;
}

.header-icon-container i {
  font-size: 37px;
  margin: 0px 0px 0px 18px;
}

.main {
  padding: 30px 60px 100px 60px;
  margin-top: 40px;
}

.works-and-projects {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-auto-flow: row;
  grid-gap: 44px 30px;
}

.main h1 {
    margin-bottom: 20px;
}

.project-screenshot {
  height: 200px;
  line-height: 200px;
  text-align: center;
  color: white;
  font-size: 2em;
}

.project-name-row {
  display: flex;
  align-items: center;
  padding: 6px 16px;
}

.project-name {
  flex-grow: 1;
  font-size: 1.4em;
}

.project-name-row i {
  font-size: 24px;
}

.project-name-row svg {
  width: 28px;
  margin-left: 16px;
}

.project-description {
  padding: 6px 16px 16px 16px;
  min-height: 100px;
  color: #545454;
}

footer {
  background-color: #06d6a0;
  display: flex;
  padding: 50px 60px 50px 60px;
}

.contact-information {
  flex-grow: 1;
  padding: 0px 60px;
  color: black;
}

.contact-description {
    margin-top: 20px;
}

.address {
  margin: 20px 0px;
}

.phone-container {
    display: flex;
    align-items: center;
    margin: 6px 0px;
}

.phone-container svg {
  width: 40px;
}

.email-container {
    display: flex;
    align-items: center;
    margin: 6px 0px 18px 0px;
}

.email-container svg {
    width: 34px;
}

.footer-contact-buttons i {
    font-size: 36px;
    padding-right: 16px;
}